.ingo_login_widget_social_button_facebook 
{background-color: #f44336;
  padding: 280px 54px;
  !important;}
.ingo_login_widget_social_button_twitter 
{background-color: #f44336;
  padding: 280px 54px;
  !important;}
.ingo_login_widget_social_button_linkedin 
{background-color: #f44336;
  padding: 280px 54px;
  !important;}
